body {
    background-color: aliceblue;
    padding-bottom: 100px;
}

.container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card{
    background-color: rgb(16, 61, 97);
    color:white;
}

#footer {
    background-color:black;
    font-family: 'Georgia', Times, Times New Roman, serif; 
    color: #ffffff;  
    height: 50px;
}